@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* 背景*/
body {
  padding: 30px;
  background: #ffffff;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-tag {
  padding: 1.25rem 3rem 1.25rem 80px;
}

a.btn-tag:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 100%;

  content: "";

  border-radius: 0.5rem 0 0 0.5rem;
}

/* ホバー前のボタン色 */
a.btn-tag--favorite {
  color: #fff;
  background: #63CDE8;
}

/* ハートの背景 */
a.btn-tag--favorite:before {
  background: #fff;
}

/* ハートの色 */
a.btn-tag--favorite i {
  font-size: 150%;

  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  padding: 1.4rem 0;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;
  text-align: center;
  letter-spacing: 0;

  opacity: 0.5;
  color: #FF3535;
}

/* ホバー後の色 */
a.btn-tag--favorite:hover {
  background: #04B6EE;
}

a.btn-tag--favorite:hover i {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

  opacity: 1;
}
