main{
    overflow-y: scroll;
    height: 80%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  width: 100%;
}

.flex-item {
  text-align: center;
  width: 50%;
}
