/**/
p{
font-family: 'Zen Maru Gothic', sans-serif;
font-size: 2em;
text-align: center;
}

.logo{
text-align : center;
}

.a-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #52a7f8;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  padding-left: 1em;
  padding-right: 1em;
  height: 3em;
}

.b-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #7ac0f8;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  padding-left: 1em;
  padding-right: 1em;
  height: 3em;
}

.topButton{
display:flex;
flex-flow: column;
text-align: center;
}

footer{
    
    bottom: 0; /*下に固定*/
  width: 100％;
  left: 0;
}