@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

#wrapper{
    width:100%;
    height: 5.9em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.wave2{
    transform: scaleY(-1);
}

/*========= waveを表示するエリア設定 ===============*/

#waveCanvas1{
    position: absolute;
    top: 0;
	left:0;
    height: 30px;
    width: 100%;
    margin-top: 4.3em;
}

#waveCanvas2{
    position: absolute;
    top: 0;
	left:0;
    height: 30px;
    width: 100%;
    margin-top: 4.8em;
}

img {
    top:0;
    left: 0;
}

